
.submit-area{
    border-radius: 10px;
    box-shadow: 5px 5px 8px;
    padding: 50px;
}
#transaction-area{
    display: none;
   
}
.acc{
    margin-top: 150px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: slategray;
}
.balance{
    background-color: rgb(182, 176, 101);
}
