body{
    padding: 100px;
    background-color: antiquewhite;
}
.submit-area{
    border-radius: 10px;
    box-shadow: 5px 5px 8px;
    padding: 50px;
    background-color: aliceblue;
}
#transaction-area{
    display: none;
   
}
.acc{
    margin-top: 150px;
}
.deposit{
    background-color: rgb(78, 65, 161);
}
.withdraw{
    background-color: rgb(41, 86, 131);
}
.balance{
    background-color: rgb(56, 55, 41);
}
.status{
    color: white;
    padding: 20px;
    margin: 10px;
    font-weight: bolder;
}
